
.DS_Store
echo.xcodeproj/project.xcworkspace/xcuserdata/Azu.xcuserdatad/UserInterfaceState.xcuserstate
echo.xcodeproj/project.pbxproj
echo.xcodeproj/project.pbxproj
echo.xcodeproj/project.pbxproj
echo.xcodeproj/project.pbxproj
